main {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.TodosList {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.todo {
	height: 50px;
	width: 600px;
	display: flex;
	align-items: center;
	font-size: 40px;
	justify-content: space-between;
	color: #f5f5f5;
}
.title {
	margin-left: 10px;
}
.controls {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}
.controls > img {
	width: 50px;
}
.isCompletedToggle {
	border-radius: 50%;
	border: 1px solid rgba(255, 255, 255, 0.2);
}
.isCompletedToggle:hover {
	border: 1px solid white;
	transition: all 1s ease;
}
.isHovered {
	padding: 4px;
}
.isHovered:hover {
	background-color: rgba(0, 0, 0, 0.4);
}
.editField {
	background-color: inherit;
	height: 50px;
	width: 380px;
	font-size: 30px;
	color: #f5f5f5;
	padding-left: 10px;
}
.dialogControls {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}
.dialogControls > button {
	width: 100px;
	height: 50px;
	font-size: 20px;
	background-color: #1b1b1b;
	opacity: 0.3;
	color: #f5f5f5;
	border: none;
}
.dialogControls > button:hover {
	opacity: 1;
}
.dialogControls > button:disabled {
	background-color: rgba(255, 0, 0, 0.3);
}

/*form*/

.formContainer {
	width: 600px;
	margin: 30px 0;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.inputContainer {
	display: flex;
	align-items: center;
	gap: 10px;
}
.inputContainer > button {
	color: #f5f5f5;
	font-size: 30px;
	background-color: inherit;
}
.createTodo {
	border: 2px solid white;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.createTodo:disabled {
	opacity: 0.3;
}

.searchTodo {
	border: none;
}
.searchTodo:hover {
	background-color: rgba(0, 0, 0, 0.4);
}

.inputContainer > input {
	border-radius: 30px;
	padding-left: 15px;
	height: 50px;
	font-size: 23px;
	width: 90%;
}
.sortImg {
	width: 50px;
	padding: 5px;
}
